*{margin: 0;padding: 0}
.container{
	width: 700px;
	margin: auto;
}
.color1	{
    background: #271313;
    width: 170px;
    height: 100px;
    float: left;

 }

 .color2{
 	background: #D8A7CA;
    width: 210px;
    height: 100px;
    float: left;
    overflow: hidden;
 }
 .color3{
 	background: #74A663;
    width: 320px;
    height: 100px;
     overflow: hidden;
 }

 .color4{
 	background: #492A3F;
    width: 120px;
    height: 150px;
    float: left;
    
    
 }
 .color5{
 	background: #21A1CC;
    width: 430px;
    height: 150px;
     float: left;
    overflow: hidden;

 }
 .color6{
 	background: #F489D6;
    width: 150px;
    height: 150px;
    overflow: hidden;
 }
 .color7{
 	background: #6655C6;
    width: 170px;
    height: 100px;
    float: left;
    
 }
 .color8{
 	background: #131024;
    width: 210px;
    height: 100px;
    float: left;
    overflow: hidden;
 }
 .color9{
 	background: #061E26;
    width: 320px;
    height: 100px;
    overflow: hidden;
 }